[submodule "PracticaNo8"]
	path = PracticaNo8
	url = https://github.com/GodSci3nc3/CalculadoraCalificaciones

[submodule "examenRapidoJS"]
	path = examenRapidoJS
	url = https://github.com/GodSci3nc3/examenRapidoJS
