<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../../../resources/Medicore Logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/globalStyles.css">
    <link rel="stylesheet" href="../../styles/dashboard.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://kit.fontawesome.com/aad8366bcb.js" crossorigin="anonymous"></script>

    <title>Dashboard | Medicore System</title>
</head>
<body>
        <div id="welcome-message" class="welcome-screen">
            <h1 class="text-primary-title">Bienvenido, Dr. Mario</h1>
        </div>

        <div class="container-fluid p-5" id="main-content">

            <h1 class="text-primary-title">Estado financiero de la empresa</h1> <hr>
            <div class="row">
            <div class="col">
            <div class="row text-center justify-content-center">
                <div class="row">
                    <div class="col">
                        <h3 class="text-primary-subtitle">Ingresos</h3>
                        <p class="text-primary-p">$12,356</p>
                    </div>

                    <div class="col">
                        <h3 class="text-primary-subtitle">Gastos </h3>
                        <p class="text-primary-p">$12,356</p>
                    </div>
                    
                    <div class="col">
                        <h3 class="text-primary-subtitle">Utilidad o pérdida</h3>
                        <p class="text-primary-p">92%</p>
                    </div>

                <div class="row align-items-center graph">
                    <canvas id="topSpecialty">
                </div>
                    
                </div>
            </div>
            </div>

            <div class="col">
                <div class="row text-center justify-content-center graph">
                    <canvas id="monthIncomes">

                </div>
            </div>
        </div>
        </div>


        <script src="../../js/dashboard_admin.js"></script>
</body>
</html>