.graph {
    position:relative;
    height: 600px;
}

:root {
    --fc-border-color: var(--color-border);
    --fc-button-bg-color: var(--color-primary);
    --fc-button-border-color: var(--color-primary);
    --fc-button-hover-bg-color: var(--color-primary-hover);
    --fc-today-bg-color: var(--color-background-secondary);
    --fc-neutral-text-color: var(--color-text);
    --fc-list-event-hover-bg-color: var(--color-background-secondary);

}

.fc-col-header-cell-cushion {
    color: var(--color-text);
}


.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.8s ease;
}

.welcome-screen.move-up {
    height: 80px;
    align-items: center;
}

#main-content {
    opacity: 0;
    margin-top: 80px;
    transition: opacity 0.8s ease;
}

#main-content.show {
    opacity: 1;
}

.timeline {
    border-left: 4px solid var(--color-primary);
    margin-left: 50px;
    padding-left: 30px;
    min-height: 600px;
}

.appointment-item {
    margin-bottom: 30px;
    position: relative;
}

.appointment-item::before {
    content: '';
    position: absolute;
    left: -37px;
    top: 20px;
    width: 12px;
    height: 12px;
    background: var(--color-primary-hover);
    border-radius: 50%;
}

.hour {
    position: absolute;
    left: -80px;
    font-weight: bold;
    color: var(--color-text);
}

.info {
    background: white;
    padding: 15px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}