* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
    min-height: 100vh;
    font-weight: 500;
}

:root {
    --color-primary: #2c2c2c;
    --color-primary-hover: #1a1a1a;
    --color-text: #2c2c2c;
    --color-text-light: #666;
    --color-background: #faf8f5;
    --color-white: #ffffff;
    --color-border: #e5e5e5;
    --border-radius: 8px;
    --transition: all 0.3s ease;

    
}


.logo-header {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 75px;
    width: 75px;
}

.text-primary-title {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 25px;
}

.text-primary-subtitle {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 22px;
}

.text-primary-p {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 18px;
    
}


.btn-primary {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    transition: var(--transition);
    width: 100%;
    cursor: pointer;
    color: var(--color-white);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
    transform: translateY(-1px);
}

.btn-secondary {
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    transition: var(--transition);
    width: 100%;
    cursor: pointer;
    color: var(--color-primary-hover);
}

.btn-secondary:hover {
    transform: translateY(-3px);
}


.form-label {
    color: var(--color-text);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.form-control {
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--color-white);
    transition: var(--transition);
}

.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0.2rem rgba(44, 44, 44, 0.1);
    background-color: var(--color-white);
    outline: none;
}

.systemResponse .disabled {
    opacity: 0;
}

.systemResponse .active {
    opacity: 1;
    animation: errorShake 0.5s ease-in-out;

}

@keyframes errorShake {
    0%, 100% { transform: translateX(0) translateY(0); }
    25% { transform: translateX(-2px) translateY(0); }
    50% { transform: translateX(-4px) translateY(0); }
    75% { transform: translateX(4px) translateY(0); }
}
